body {
    background-color: #FFFFDE;
    font-family: sans-serif;
}

.naastMekaar {
    padding-left: 0;
}
.naastMekaar li {
    display: inline;
}

label span, .fout {
    background-color: red;
    color:white;
    font-weight: bold;
    padding-left:0.5em;
    padding-right: 0.5em;
}
label span {
    margin-left: 0.5em;
}
label {
    cursor: pointer;
}
input {
    display: block;
    margin-top: 0.2em;
    margin-bottom: 1em;
    font-size: 1.1em;
}