<div xmlns:th="http://www.thymeleaf.org">
  <nav th:fragment="menu">
    <ul>
      <li><a th:href="@{/}">Welkom</a></li>
      <li><a th:href="@{/sauzen}">Sauzen</a></li>
      <li><a th:href="@{/taal}">Taal</a></li>
      <li><a th:href="@{/sauzen/alfabet}">Saus alfabet</a></li>
      <li><a th:href="@{/snacks/alfabet}">Snack alfabet</a></li>
      <li><a th:href="@{/snacks/verkochteaantallenpersnack}">Verkochte aantallen per snack</a></li>
      <li><a th:href="@{/snacks/beginnaam/form}">Begin naam</a></li>
      <li><a th:href="@{/sauzen/raden}">Raad de saus</a></li>
      <li><a th:href="@{/frieten/zoeken}">Zoek de friet</a></li>
      <li><a th:href="@{/gastenboek}">Gastenboek</a></li>
    </ul>
  </nav>
  <head>
    <title>Frituur Frida</title>
    <link rel="icon" th:href="@{/images/frida.ico}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/frida.css}">
  </head>
  <ul th:fragment="sausUl">
    <li th:each="saus : ${alleSauzen}" th:object="${saus}">
      <a th:text="*{naam}" th:href="@{/sauzen/{id}(id=*{id})}"></a>
      <ul>
        <li th:each="ingredient : *{ingredienten}"
            th:text="${ingredient}"></li>
      </ul>
    </li>
  </ul>
</div>