<!doctype html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head(title='Frituur Frida')"></head>
<body>
<nav th:replace="fragments::menu"></nav>
<h1>Frituur Frida</h1>
<h2><span th:text="${moment}"></span></h2>
<dl th:object="${adres}">
    <dt>Adres</dt>
    <dd th:text="|*{straat} *{huisnr}|"></dd>
    <dd th:object="${adres.gemeente}"
        th:text="|*{naam} *{postcode}|"></dd>
</dl>
<div th:if="${param.snackNietGevonden}" class="fout">Snack
    <th:block th:text="${param.snackNietGevonden}"></th:block> niet gevonden</div>
</body>
</html>